.nav-color{
    background-color: #483d8b;
}
.ng-valid:not(form), .ng-valid.required:not(form)  {
    border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}
.dropdown-menu a{
    font-size: 0.875rem;
}
#signup, #signin{
    cursor: pointer;
}