<app-ad-banner></app-ad-banner>
<app-categories></app-categories>
<app-common-filter></app-common-filter>

<div class="row">
    <div class="col-md-12">
        <div class="sort-block">
            <div class="row">
                <div class="col-md-8">
                    <span class="sort-text">Дата торгов</span>
                    <span class="sort-text">Цена</span>
                </div>
                <div class="col-md-4">
                    <div class="input-group input-group-sm d-sm-flex">
                        <input type="text" id="search" class="form-control" placeholder="Искать в торгах..." aria-label="Искать в торгах...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Найти</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row my-1">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
<div class="row my-1">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
<div class="row my-1">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
<div class="row my-1">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>