<div class="row">
  <div class="col-md-12">
    <div class="card mt-1 categories">
      <div class="card-body">
        <a class="category" *ngFor="let category of categories">
          <img src="/assets/images/{{category.image}}" alt="..." class="rounded-circle icon-sm">
          <span>{{category.name}}</span>
        </a>
        <!-- <a class="category">
          <img src="/assets/images/house.jpg" alt="..." class="rounded-circle icon-sm">
          <span>Недвижимость</span>
        </a>
        <a  class="category">
          <img src="/assets/images/electronics.png" alt="..." class="rounded-circle icon-sm">
          <span>Электроника</span>
        </a>
        <a class="category">
          <img src="/assets/images/electronics.png" alt="..." class="rounded-circle icon-sm">
          <span>Одежда</span>
        </a>
        <a class="category">
          <img src="/assets/images/electronics.png" alt="..." class="rounded-circle icon-sm">
          <span>Искусство</span>
        </a>
        <a class="category">
          <img src="/assets/images/electronics.png" alt="..." class="rounded-circle icon-sm">
          <span>Прочее</span>
        </a> -->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card mt-1">
      <div class="card-body">
        Here's the place for some filters
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card mt-1">
      <div class="card-body">
        Here's the auction
      </div>
    </div>
  </div>
</div>