.subcategory .icon-sm{
    height: 30px;
    width: 30px;
    background-color: #fff;
    margin-top: .25rem;
    margin-bottom: .25rem;
}
.subcategory{
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}
.subcategory div{
    color: #419bf4;
    display: inline-block;
}
.subcategories{
    background-color: #F0F8FF;
    font-size: 13px;
}
.subcategories .card-body{
    padding: .4rem;
    padding-left: .7rem;
}