<div class="row">
  <div class="col-md-12">
    <div class="card mt-1 subcategories">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3" *ngFor="let category of categories">
            <a class="subcategory" [routerLink]="['../'+category.link]">
              <div><img src="/assets/icons/{{category.image}}" alt="..." class="rounded-circle icon-sm"></div>
              <div>{{category.name}}</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>