.countdown{
	font-family: sans-serif;
	text-align: center;
	font-size: 0.8rem;
}
.countdown>div{
	border: 1px solid #28a745;
	padding: 0;
}
.smalltext{
	font-size: 0.7rem;
	background-color: #28a745;
	color: #fff;
}
.countdown.finishing>div{
	border: 1px solid rgb(230, 75, 75);
	padding: 0;
}
.finishing .smalltext{
	font-size: 0.7rem;
	background-color: rgb(230, 75, 75);
	color: #fff;
}