<div id="{{id}}" class="row countdown mx-auto justify-content-center" [class.finishing]="finishing===true">
  <div class="col-3">
    <div class="days"></div>
    <div class="smalltext text-truncate">Дней</div>
  </div>
  <div class="col-3">
    <div class="hours"></div>
    <div class="smalltext text-truncate">Часов</div>
  </div>
  <div class="col-3">
    <div class="minutes"></div>
    <div class="smalltext text-truncate">Минут</div>
  </div>
  <div class="col-3">
    <div class="seconds"></div>
    <div class="smalltext text-truncate">Секунд</div>
  </div>
</div>