<div id="{{id}}" class="row countdown mx-auto d-flex justify-content-center" [class.mini]="mini===true" [class.finishing]="finishing===true">
  <div class="col-md-3 col-sm-3 col-xs-2">
    <div class="days"></div>
    <div class="smalltext text-truncate">Дней</div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-2">
    <div class="hours"></div>
    <div class="smalltext text-truncate">Часов</div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-2">
    <div class="minutes"></div>
    <div class="smalltext text-truncate">Минут</div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-2">
    <div class="seconds"></div>
    <div class="smalltext text-truncate">Секунд</div>
  </div>
</div>