<nav class="navbar navbar-expand-lg navbar-dark nav-color">
    <a class="navbar-brand" href="#"><i class="material-icons">gavel</i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Торги</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Торги
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Все торги</a>
                    <a class="dropdown-item" href="#">Открытые торги</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Закрытые торги</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav mr-0">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#signupModal" style="cursor:pointer">Войти</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="signinForm">
                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="text-left mt-4">
                <div class="modal-header">
                    <h5 class="modal-title" id="signupModalLabel">Вход</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="login">Имя пользователя или электронная почта</label>
                        <input [formControl]="login" id="login" class="form-control validation-field" placeholder="Имя пользователя или электронная почта" type="text">
                        <small class="text-danger" *ngIf="form.get('username').touched && form.get('username').hasError('required')">Необходимо заполнить</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input [formControl]="password" id="password" class="form-control validation-field" placeholder="Пароль" type="password">
                        <small class="text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('required')">Необходимо заполнить</small>
                        <small class="text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('minlength')">Требования к паролю: не менее 6 символов</small>
                    </div>
                    <div class="form-group">
                        <a class="transition" href="javascript:void(0);">Забыли пароль?</a>
                        <a class="transition" id="signup">Зарегистрироваться</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button [disabled]="!form.valid" class="btn btn-outline-primary" type="submit">Войти</button>
                    </div>
                </div>
                </form>
            </div>
            <div id="signupForm">
                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="text-left mt-4">
                <div class="modal-header">
                    <h5 class="modal-title" id="signupModalLabel">Регистрация</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="username">Имя пользователя</label>
                        <input [formControl]="username" id="username" class="form-control validation-field" placeholder="Имя пользователя" type="text">
                        <small class="text-danger" *ngIf="form.get('username').touched && form.get('username').hasError('required')">Необходимо заполнить</small>
                    </div>
                    <div class="form-group">
                        <label for="email">Электронная почта</label>
                        <input [formControl]="email" type="email" class="form-control validation-field" id="email" placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input [formControl]="password" id="password" class="form-control validation-field" placeholder="Пароль" type="password">
                        <small class="text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('required')">Необходимо заполнить</small>
                        <small class="text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('minlength')">Требования к паролю: не менее 6 символов</small>
                    </div>
                    <div class="form-group">
                        <a class="transition" id="signin">Я уже зарегистрирован(а)</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button [disabled]="!form.valid" class="btn btn-outline-primary" type="submit">Войти</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>
