<div class="row mt-3 my-1" *ngIf="auction">
    <div class="col-md-6">
        <div class="card">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </div>
    </div>
    <div class="col-md-6">
      <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <h5 class="card-title">{{auction.product.name}}</h5>
                <p>{{auction.product.description}}</p>
                <div class="row">
                  <div class="col-md-6">
                    <p>Стартовая цена: </p>
                  </div>
                  <div class="col-md-6">
                    <p>{{auction.start_price}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p>Последняя цена: </p>
                  </div>
                  <div class="col-md-6">
                    <p>{{auction.current_price}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p>Участников: </p>
                  </div>
                  <div class="col-md-6">
                    <p>{{auction.participants_count}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p>Просмотрели: </p>
                  </div>
                  <div class="col-md-6">
                    <p>{{auction.seen}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p>Дата начала: </p>
                  </div>
                  <div class="col-md-6">
                    <p>{{auction.created_at | date:'dd.MM.yyyy HH:mm'}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p>Дата окончания: </p>
                  </div>
                  <div class="col-md-6">
                    <p>{{auction.end_date | date:'dd.MM.yyyy HH:mm'}}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                  <app-countdown [deadline]="auction.end_date" [id]="auction.id"></app-countdown>
                  <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                          <input type="number" class="form-control form-control-md" placeholder="0 ₸" aria-label="bargain bet" aria-describedby="bargain bet">
                          <div class="input-group-append">
                            <button id="accept-price" class="btn btn-success btn-md" type="button">Принять</button>
                          </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>
<div class="row mt-3 my-1" *ngIf="auction">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        
      </div>
    </div>
  </div>
</div>