<div class="row">
  <div class="col-md-12">
    <div class="card mt-1">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="input-group input-group-sm mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id=""><i class="fa fa-search text-primary" aria-hidden="true"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Поиск по тексту">
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-sm mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id=""><i class="fa fa-map-marker text-primary" aria-hidden="true" style="font-size:19px;font-weight:bold;"></i></span>
              </div>
              <select class="custom-select custom-select-sm col-md-8" id="location" data-toggle="modal" data-target="#locationModal">
              </select>
              <select class="custom-select custom-select-sm col-md-4" id="radius">
                <option selected>+ 0 км</option>
                <option value="1">+ 5 км</option>
                <option value="2">+ 10 км</option>
                <option value="3">+ 30 км</option>
                <option value="1">+ 50 км</option>
                <option value="2">+ 80 км</option>
                <option value="3">+ 100 км</option>
                <option value="3">+ 200 км</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-sm mb-2">
              <select class="custom-select custom-select-sm" id="category">
                <option selected>Транспорт</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <select class="custom-select custom-select-sm" id="subcategory">
                <option selected>Все</option>
                <option value="1">+ 5 км</option>
                <option value="2">+ 10 км</option>
                <option value="3">+ 30 км</option>
                <option value="1">+ 50 км</option>
                <option value="2">+ 80 км</option>
                <option value="3">+ 100 км</option>
                <option value="3">+ 200 км</option>
              </select>
              <div class="input-group-append">
                <span class="input-group-text" id=""><i class="fa fa-bars text-primary" aria-hidden="true"></i></span>
              </div>
              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="priceFilter">
          </div>
          <div class="col-md-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="photo">
              <label class="custom-control-label" for="photo">Только с фото</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="searchmore">
              <label class="custom-control-label" for="searchmore">Искать в заголовке и в описании</label>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-auto ml-auto">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-danger">Сбросить</button>
              <button *ngIf="resultCount > 0; else nothingFound" type="button" class="btn btn-outline-primary" (click)="showResult();">Показать</button>
              <ng-template #nothingFound><button type="button" class="btn btn-outline-info" (click)="showResult();">Ничего не найдено</button></ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade modal-small modal-select" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="locationModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width:50em;">
      <div class="row">
        <div class="col-md-12">
          <div class="card-group" style="height:30em;">
            <!-- <div class="card" style="overflow-y:auto;">
              <ul class="list-group">
                <li class="list-group-item list-group-item-action">
                  Cras justo odio
                  <i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i>
                </li>
                <li class="list-group-item list-group-item-action"><span>Dapibus ac facilisis in</span><i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i></li>
                <li class="list-group-item list-group-item-action">Morbi leo risus<i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i></li>
                <li class="list-group-item list-group-item-action">Porta ac consectetur ac<i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i></li>
                <li class="list-group-item list-group-item-action disabled">Vestibulum at eros<i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i></li>
              </ul>
            </div> -->
            <!-- <div class="card" style="overflow-y:auto;">
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                  Cras justo odio
                  <i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i>
                </a>
                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in<i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i></a>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus<i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i></a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac<i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i></a>
                <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros<i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i></a>
                <a href="#" class="list-group-item list-group-item-action">
                    Cras justo odio
                    <i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in<i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i></a>
                  <a href="#" class="list-group-item list-group-item-action">Morbi leo risus<i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i></a>
                  <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac<i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i></a>
                  <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros<i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i></a>
                  <a href="#" class="list-group-item list-group-item-action">
                      Cras justo odio
                      <i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in<i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i></a>
                    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus<i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i></a>
                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac<i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i></a>
                    <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros<i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i></a>
              </div>
            </div>
            <div class="card" style="overflow-y:auto;">
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                  Cras justo odio
                  <i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i>
                </a>
                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in<i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i></a>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus<i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i></a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac<i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i></a>
                <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros<i class="fa fa-chevron-right float-right text-primary mt-1" aria-hidden="true"></i></a>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>