<div class="row">
  <div class="col-md-12">
    <div class="card mt-1">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="input-group input-group-sm mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id=""><i class="fa fa-search text-primary" aria-hidden="true"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Поиск по тексту">
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-sm mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id=""><i class="fa fa-map-marker text-primary" aria-hidden="true" style="font-size:19px;font-weight:bold;"></i></span>
              </div>
              <input readonly class="custom-select custom-select-sm col-md-8" id="location" data-toggle="modal" data-target="#locationModal">
              <select class="custom-select custom-select-sm col-md-4" id="radius">
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-sm mb-2">
              <input class="custom-select custom-select-sm" id="category" data-toggle="modal" data-target="#categoryModal">
              <div class="input-group-append">
                <span class="input-group-text" id=""><i class="fa fa-bars text-primary" aria-hidden="true"></i></span>
              </div>
              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="priceFilter">
          </div>
          <div class="col-md-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="photo">
              <label class="custom-control-label" for="photo">Только с фото</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="searchmore">
              <label class="custom-control-label" for="searchmore">Искать в заголовке и в описании</label>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-auto ml-auto">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-danger">Сбросить</button>
              <button *ngIf="resultCount > 0; else nothingFound" type="button" class="btn btn-outline-primary" (click)="showResult();">Показать</button>
              <ng-template #nothingFound><button type="button" class="btn btn-outline-info" (click)="showResult();">Ничего не найдено</button></ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- locationModal Modal -->
<div class="modal fade modal-small modal-select" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="locationModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width:15em;">
      <div class="row">
        <div class="col-md-12">
          <div class="card-group" style="height:30em;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- categoryModal Modal -->
<div class="modal fade modal-small modal-select" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width:15em;">
        <div class="row">
          <div class="col-md-12">
            <div class="card-group" style="height:30em;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>